# Configurações da API
VITE_API_URL=http://localhost:3001
VITE_API_TIMEOUT=10000

# Configurações do App
VITE_APP_NAME=Controle Financeiro
VITE_APP_VERSION=1.0.0

# Configurações PWA
VITE_PWA_NAME=FinanceApp
VITE_PWA_SHORT_NAME=FinanceApp
